name: "CI"

on:
  # push:
  #   branches: ["*"]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
        NEXT_PUBLIC_API_URL: https://api.vmscore.to
        NEXT_PUBLIC_APP_NAME: VMSCORE
        NEXT_PUBLIC_WS_URL: ws://api.vmscore.to
        NEXT_VISIT_SUBDOMAIN: visit
        NEXT_APP_DOMAIN: vmscore.to
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
        
      - run: npm install
      - run: npm run build
      # - run: npm run test
    
  build-docker-push:
    runs-on: ubuntu-latest
    # if: github.ref == 'refs/heads/master' && github.event_name == 'push'

    steps:
      - name: Checkout code 
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        env:
          IMAGE_NAME: vmscore-frontend
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
             ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
             ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
